# Ignore these files
/.gradle
/build
/src/main/generated
/out
/gradle
/.idea
/.DS_Store
/*/*/*/*/*/.DS_Store
/*/*/*/*/*/*/.DS_Store
/gradlew
/gradlew.bat
/classes
/logs
/activemq-data
/KahaDB

/student-core/gradle.properties
/student-core/src/main/resources/spring-data-application.properties
/student-core/src/main/generated

/student-utils/data-load/build
/student-utils/core/build
/student-core/build
/student-api/core/build
/student-api/service/build
