<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_FILE" value="/Users/JoshuaSzuslik/tomcat/logs/student-tracker-api.log" />
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <include resource="logback.runtime.xml" optional="true" />
</configuration>
